doctype html
html
    head
        title="Logged"
        include ./head.pug
    body
        h1 Hello there #{user.displayName}!!!
        p Your Google ID is: #{user.id}
        p And your primary email is: #{user.mail}
        